<html>
    <head>
        <link rel="stylesheet" href="@@cssUrl?@@version">
        <!-- inlinestyle -->
    </head>
    <body>
        <div class="ghostmonitor-container">
            <div class="ghostmonitor-atc-popup ghostmonitor-atc-popup-center animated slideInDown">
                <div class="ghostmonitor-atc-popup-wrapper">
                    <div class="ghostmonitor-atc-popup-content">
                        <div class="ghostmonitor-atc-popup-heading-container">
                            <div class="ghostmonitor-atc-popup-icon-container">
                                <span></span>
                            </div>
                            <div class="ghostmonitor-atc-popup-text-container">
                                <h2 class="ghostmonitor-atc-popup-heading" text-bind="schema.text.h1">{{h1}}</h2>
                                <div class="ghostmonitor-atc-popup-text" text-bind="schema.text.text1">{{text1}}</div>
                            </div>
                        </div>

                        <div class="ghostmonitor-atc-popup-form">
                            <form action="" name="ghostmonitor-modal-form">
                                <div class="ghostmonitor-atc-popup-input-field-container">
                                    <input class="ghostmonitor-atc-popup-input" type="text" value="" name="email"  dynamic-placeholder="schema.text.placeholder.value"placeholder="{{placeholder}}">
                                </div>
                                <button class="ghostmonitor-atc-popup-button" type="submit" text-bind="schema.text.cta">{{cta}}</button>
                            </form>
                        </div>
                        <div class="ghostmonitor-atc-popup-close"></div>
                        <a class="ghostmonitor-atc-popup-link" href="http://ghostmonitor.com" target="_blank">Powered by <span class="ghostmonitor-atc-popup-logo"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>