    .modal-container {
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #e8e9f0;

    .header-block {
        background-color: #f8f9fb;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom: 1px solid #ccc;
        display: block;
        position: relative;
        padding-top: 20px;

        @include respond-to(phone) {
            text-align: center;
        }

        &__icon {
            border: 1px solid #e8e9f0;
            border-radius: 100%;
            background-color: #fff;
            float: left;
            height: 105px;
            margin-top: 0;
            margin-left: 14px;
            margin-right: 14px;
            padding-left: 4px;
            padding-bottom: 3px;
            width: 105px;

            img {
                padding-top: 6px;
                width: 90%;
            }

            @include respond-to(phone) {
                float: none;
                margin: auto;
            }
        }

        &__text {

            &--title {
                padding-top: 6px;
                padding-left: 4px;
                padding-right: 4px;
                margin: 0;
                font-size: 22px;
                font-weight: bold;
                line-height: 36px;
                color: #737f97;
                text-transform: initial;
                @include respond-to(sm-devices) {
                    text-align: left;
                }
            }

            &--description {
                color: #bbc9d2;
                font-size: 16px;
                margin: 5px;
                margin-bottom: 33px;
            }
        }

        &::before {
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-top: 18px solid #dedede;
            bottom: 0;
            content: '';
            display: block;
            height: 0;
            left: 50%;
            margin-left: -18px;
            position: absolute;
            transform: translate3d(0, 100%, 0);
            width: 0;

            @include respond-to(phone) {
                display: none;
            }
        }

        &::after {
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-top: 16px solid #f8f9fb;
            bottom: 0;
            content: '';
            display: block;
            height: 0;
            left: 50%;
            margin-left: -16px;
            position: absolute;
            transform: translate3d(0, 100%, 0);
            width: 0;

            @include respond-to(phone) {
                display: none;
            }
        }

    }

    .action-block {
        display: block;
        text-align: center;
        margin-top: 26px;
        margin-bottom: 15px;

        &__input {
            background: #fff !important;
            border-width: 1px !important;
            border-style: solid !important;
            border-color: #ccc;
            border-radius: 5px;
            color: rgba(0, 0, 0, 0.75) !important;
            font-size: 18px !important;
            font-style: normal;
            line-height: 20px !important;
            margin: 0 0 16px 0;
            padding: 8px;
            height: 42px;
            text-align: center;
            max-width: none !important;
            margin-bottom: 10px;
            outline: none !important;
            box-shadow: none;
            width: 94%;
            -webkit-appearance: none;

            &:focus {
                border-color: #30a2ef;
                background: #fafafa;
                outline: none;
            }
        }

        .input-error {
            border: 1px solid #a94442 !important;
        }

        &__btn {
            border-radius: 5px;
            font-size: 20px;
            font-weight: normal;
            line-height: 20px;
            text-decoration: none;
            text-align: center;
            text-shadow: none;
            text-transform: initial;
            margin: 0;
            padding: 10px 0;
            width: 94%;
        }

        &__error-container {
            position: relative;
            top: 100%;
            width: 100%;
            color: #fff;
            text-align: center;
        }
        &__error-message {
            background-color: #f2dede;
            color: #a94442;
            font-size: 18px;
            font-family: "Lato", sans-serif !important;
            margin: 0 auto;
            margin-bottom: 10px;
            position: relative;
            padding: 9px 0;
            text-align: center;
            border-radius: 5px;
            width: 94%;
        }
    }

    input[type="text"]::-webkit-input-placeholder {
        text-align: center;
    }
    input[type="text"]:-moz-placeholder {
        text-align: center;
    }
    input[type="text"]::-moz-placeholder {
        text-align: center;
    }
    input[type="text"]:-ms-input-placeholder {
        text-align: center;
    }
}

.under-construction {
    .modal-dialog {
        margin: 0 auto;
        width: 90%;

        @include respond-to(xs-devices-and-up) {
            width: 485px;
        }
    }

    .modal-content {
        border-radius: 20px;
        margin-top: 100px;

        @include respond-to(xs-devices-and-up) {
            margin-top: 225px;
        }
    }
}