.alert-block {
    background-color: #f54747;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    z-index: 95;
    @include respond-to(lg-devices) {
        text-align: left;
    }
    .icon-holder {
        text-align: center;
    }

    .col-md-8 {
        font-size: 16px;
        padding-top: 9px;
        padding-left: 0;
        padding-right: 0;
    }

    span {
        font-size: 45px;
    }

    a {
        color: #ffffff;
        text-decoration: underline;
    }
}