<div mock="recoveredRevenue">
    <div class="alert-block">
        <div class="col-md-offset-1 col-md-1 icon-holder">
            <span class="icon-info"></span>
        </div>
        <div class="col-md-8">
            You've recovered {{recoveredRevenue | gmCurrency}} in the last 15 days,
            but your free trial is expired. You still collect cart abandoners,
            but your emails are stopped. To keep recovering your lost revenue for
            only $10/month, add your credit card information here:
            <a href="#/me/billing" ui-sref="app.me.billing">Add My Credit Card</a>
        </div>
    </div>
</div>