<div class="modal-body welcome-modal" parent-classificator="welcome-content">
    <div class="row text-center">
        <div class="col col-sm-5 col-sm-push-7">
            <img src="../../images/ghosty.svg" alt="" title="" class="ghost-img img-responsive">
        </div>
        <div class="col col-sm-7 col-sm-pull-5 custom-padding">
            <h1>WELCOME!</h1>
            <p>  Yeah, that’s it! Your’re all set! </p>
            <p> From now, your cart abandoners will receive our cart recovery campaign. </p>
            <button class="primary-btn medium-btn" ng-click="close()">Continue</button>
        </div>
    </div>
    <div class="row text-center">
        <button class="bg-green green-badge text-center" ng-click="close()"><span class="fa fa-times"></span></button>
    </div>
</div>